<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" th:href="@{/css/style.css}"/>
    <title>Expense Tracker</title>
  </head>
  <body>
    <h2>Expense Tracker</h2>

    <div class="container">
      <h4>Your Balance</h4>
      <h1 id="balance" th:text="'$' + *{balance}">$0.00</h1>

      <div class="inc-exp-container">
        <div>
          <h4>Income</h4>
          <p id="money-plus" class="money plus" th:text="'$' + *{in}">+$0.00</p>
        </div>
        <div>
          <h4>Expense</h4>
          <p id="money-minus" class="money minus" th:text="'$' + *{out}">-$0.00</p>
        </div>
      </div>

      <div class="container">
          <table class="table">
            <h3>History</h3>
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
            <tr th:each="expense : ${expenses}" th:object="${expense}">
              <td th:text="*{name}"></td>
              <td th:text="'$' + *{amount}"></td>
              <td><a class="btn btn-default" href="#" th:href="@{'/index/view/' + *{id}}">View</a> </td>
              <td><a class="btn btn-default" href="#" th:href="@{'/index/edit/' + *{id}}">Edit</a> </td>
              <td><a class="btn btn-default" href="#" th:href="@{'/index/delete/' +  *{id}}">Delete</a> </td>
            </tr>
          </table>

      </div>
      <ul id="list" class="list">

        <!-- <li class="minus">
          Cash <span>-$400</span><button class="delete-btn">x</button>
        </li> -->
      </ul>

      <h3>Add new transaction</h3>
      <form id="form" th:object="${finances}" th:action="@{/index/entry}" method="post" >
        <!--th:object="${finances}" th:action="@{/index/entry}" method="post"-->
        <div class="form-control">
          <label for="text">Text</label>
          <input type="text" id="text"      th:field="*{name}"        placeholder="Enter text..." />
        </div>

        <div class="form-control">
          <label for="amount">Amount <br /> (negative - expense, positive - income)</label>
          <input type="number" id="amount"     th:field="*{amount}"      placeholder="Enter amount..." />
        </div>

        <button class="btn">Add transaction</button>
      </form>
    </div>
  </body>
</html>
